html, body {
    padding: 1rem;
    margin: 0;
    font-family: sans-serif;
    line-height: 200%;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #5bc0de;
}

a:hover {
    text-decoration: underline;
}

@media (min-width: 1000px) {
    body {
        padding: 2rem;
        width: 60%;
        margin: auto;
    }
}