#calendar::before {
    content: "📅";
}

#tags::before {
    content: "🏷️"
}

.leftSide {
    text-align: left;
}

.rightSide {
    text-align: right;
}

.pagination {
    display: inline-block;
    margin: 0.3rem;
    /* width: 3rem; */
    text-align: center;
}

.ul_pagination {
    padding-left: 0rem;
}

.postBorderBottom {
    border-bottom: 1px solid #808080;
}