#calendar::before {
    content: "📅";
}

.leftSide {
    text-align: left;
}

.pagination {
    display: inline-block;
    margin: 0.3rem;
    /* width: 3rem; */
    text-align: center;
}

.postBorderBottom {
    border-bottom: 1px solid #808080;
}